/* You can add global styles to this file, and also import other style files */
// src/styles.scss
$primary-color: #212e38;
$secondary-color: #4896d3;

body {
  font-family: Arial, sans-serif;
  background-color: $primary-color;
  color: #fff;
  margin: 0;
  padding: 0;
}
